.DS_Store
tmp/*
log/*
TAGS
*~
.#*
schema/schema.rb
schema/oursignal.sql
schema/*_structure.sql
schema/*.sqlite3
schema/*.sqlite
schema/*.db
*.sqlite
*.sqlite3
*.db
log/*
tc/*
.hgignore
.hg/*
.svn/*
*.swp
*._*
*\.dbshell
gems/gems
gems/specifications
gems/ruby/*/gems
gems/ruby/*/specifications
.original_gems/
bin/freshness
bin/frequency
src/frequency
src/freshness
*.o
gems/*
!gems/ruby/1.8/cache
log
public/javascripts/bundle.js
public/stylesheets/bundle.css
public/system
bin/*
