#links {
  margin: 0px auto; padding: 15px;
  text-align:left;
}

#links ul {
  float: left;
  margin: 0; padding-top: 10px;
  list-style: none;
}

#links ul li {
  float: left; position: relative;
  margin: 0; padding: 5px; width: 110px; height: 110px;
  color:#000;
}

#links ul li img {
  position: absolute; left: 0; top: 0;
  width: 100px; padding: 5px;
  border: 1px solid #ddd; background: #f0f0f0; -ms-interpolation-mode: bicubic;
}

#links ul li img.hover {
  margin-top: 15px;
  border: none;
}

#links .title{
  position:absolute;
  width:185px; margin:0;
  font-weight: 900; background: #777; padding: 17px 0 0 0; text-align: center; color: #fff; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
