#links {
  margin: 40px 40px 80px 40px; padding: 0;
  text-align:left;
}

#links ul {
  float: left;
  list-style: none;
}

#links ul li {
  float: left;
  width: 128px; height: 96px; padding: 0; margin: 1px;
  background-color: #303030;
}

#links div.entry {
  position: relative;
  width: 128px; height: 96px;
  background-color: #303030;
  overflow: hidden;
}

#links div.entry div.meta {
  clear: both;
}

#links div.hover {
  padding: 10px;
  position: relative;
  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
  box-shadow: 0px 0px 10px #000; -moz-box-shadow: 0px 0px 10px #000; -webkit-box-shadow: 0px 0px 10px #000;
}

#links div.entry img {
  width: 100%;
}
