li {
  margin-left: 3px;
}

#links ul {
  list-style: none;
}

#links li {
  padding: 10px;
}

#links a {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  margin-left: 55px;
}

#links .meta {
  font-size: 12px;
  color: #ccc;
}

#links .meta a {
  font-size: 12px;
}

#links .meta div {
  margin-right: 10px;
  display: inline;
}

#links div.source a {
  margin-left: 0;
}

div#links div.score {
  float: left;
  width: 46px;
  height: 31px;
  padding-top: 5px;
  margin-top: -19px;
  background: url(/i/scorebg.png);
  background-repeat: no-repeat;
  font: bold 18px/18px "Arial";
  letter-spacing: -1px;
  color: #1b1b1b;
  text-align: center;
  text-shadow: none;
}
