#links ul {
  list-style: none;
}

#links li {
  padding: 10px;
}

#links a {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

#links .meta {
  font-size: 12px;
  color: #ccc;
}

#links .meta a {
  font-size: 12px;
}

#links .meta div {
  margin-right: 10px;
  display: inline;
}

