#fundry
  %span
    Check out our new site
    %a{href: 'http://fundry.com', title: 'fundry.com'}fundry.com
    \- crowdfundring for developers.
  %a#logo_fundry{href: 'http://fundry.com', title: 'fundry.com'}
    %img{src: '/art/logo_fundry.png', alt: 'fundry logo'}

