%meta{:'http-equiv' => 'Content-Language', content: 'en-us'}
%meta{:'http-equiv' => 'content-type', content: 'text/html; charset=utf-8'}
%meta{name: 'description', content: 'Create a custom social news aggregator and visualizer from all of your favorite RSS feeds including digg, reddit, del.icio.us, hackernews and yahoo buzz'}
%meta{name: 'keywords', content: 'Cloud, Design, TreeMap, aggregator, ajax, blog, cool, creative, css, del.icio.us, delicious, digg, hackernews, yahoo buzz, mashup, news, online, portal, reddit, rss, social, socialmedia, socialnetworking, visual, visualization, web3.0'}
%meta{name: 'ROBOTS', content: 'ALL'}
%meta{:'http-equiv' => 'imagetoolbar', content: 'no'}
%meta{name: "MSSmartTagsPreventParsing", content: 'true'}
%meta{name: 'Copyright', content: '(c) 2009 Stateless Systems'}
