#network_sites
  %strong Network sites:
  :markdown
    * [Coupons](http://retailmenot.com)
    * [Trends](http://trendsmap.com)
    * [CMS](http://cushycms.com)
    * [Crowdfunding](http://fundry.com)
    * [BugMeNot](http://bugmenot.com)
    * [MetaURI](http://metauri.com)
