- content :title do
  oursignal &raquo; about

:markdown
  # About OurSignal

  OurSignal looks at current popular social news sites and mashes them all together.

  ## TODO

  * Front end Javascript and routing could be bettr. Backbone or Ember it.
  * No deep linking to link meta data at the moment.
  * Flashes of unstyled content in a few places.
  * JSONP.
  * More meta data.
  * Timeline UI.

  ## Changelog

  ### 25/06/2012

  #### Removed features:

  * Delicious is dead and has been removed.
  * Custom feeds will be gone for now. If I can afford the server costs to bring them back via donations or another revenue model then I will.
  * Themes are gone, the one and only theme is a return towards the simpler original OurSignal UI for those that remember it. Instead the [JSON API](/api) will give you access to more meta data for each link. As long as you don't DOS the website I will never restrict access for competing visualizations so you can easily build and host your own visualizations.

  #### Additional features:

  * Twitter RT count, Google +1's and Facebook likes are now used in score calculation.
  * History in 10 minute intervals exists via the API. The UI is a work in progress still.
  * Access meta data without mouseover. Swipe up on tablets to close meta window.
