- content :title do
  oursignal &raquo; about

:markdown
  # About OurSignal

  OurSignal looks at current popular social news sites and mashes them all together.

  ## Changes

  * Twitter RT count and Facebook likes are now used in score calculation.
  * History in 5 minute intervals exists via the API. The UI is a work in progress still.
  * Removed custom RSS feeds. Very few people used them.
  * Removed delicious.
  * Removed customization. It will be back.
