- content :title do
  oursignal &raquo; developers

.container_12
  .push_2.grid_8
    %h2.developers Developer Info
    %p
      Want to pipe oursignal feeds somewhere else?  Create your own visualizations?
      %br
      Download our master feed in any of these popular formats:
    %ul.devList
      %li.rss
        %a#developer_rss{href: absolute_url(:oursignal, '.rss'), title: 'RSS Format'} RSS
      %li.xml
        %a#developer_xml{href: absolute_url(:oursignal, '.xml'), title: 'XML Format'} XML
      %li.json
        %a#developer_json{href: absolute_url(:oursignal, '.xml'), title: 'JSON Format'} JSON

