// TODO: Move to JS template and HTML5.
:javascript
  $('html, body').css({height: '100%'});
  $('html').css({overflow: 'hidden'});

#meta
  .background
  .body
    .content
    %button.foot Close
%ol#timestep
