
/* global */
body {
  font-family: georgia, tahoma, sans-serif;
  background-color: #222;
}

a {
  text-decoration: none;
}

/* head */
#head {
  color: #FFF;
  padding: 10px;
}

#head h1 {}

/* navigation */
div#navigation {
  float: right;
}

div#navigation ul {
  float: right;
}

div#navigation ul {
  float: right;
  list-style-type: disc;
}

div#navigation ul li {
  display: block;
  float: left;
}

div#navigation ul li::before {
  content: " · ";
  white-space: pre;
}

div#navigation ul li:first-child::before {
  content: " ";
}

div#navigation ul a {
  color: #DDD;
  border-bottom: 1px dotted #DDD;
}

