
/* global */
body {
  font-family: georgia, tahoma, sans-serif;
  background-color: #222;
}

a {
  text-decoration: none;
}

/* head */
#head {
  color: #FFF;
  padding: 10px;
}

#head h1 {

}

/* navigation */
ul#navigation {
  float: right;
}

ul#navigation {
  float: right;
  list-style-type: disc;
}

ul#navigation li {
  display: block;
  float: left;
}

ul#navigation li::before {
  content: " · ";
  white-space: pre;
}

ul#navigation li:first-child::before {
  content: "";
}

ul#navigation a {
  color: #DDD;
  border-bottom: 1px dotted #DDD;
}
