#links {
  margin-top: -1px;
}

.treemapView {
  vertical-align: middle;
}

.treemapSquare {}

.treemapCell {
  border-color: #222 !important;
}

.treemapCell:hover {
  opacity: .85 !important;
  filter: alpha(opacity=85) !important;
}

.treemapCell span {
  font-size: 1px;
}

.treemapCell span strong {
  font-size: 1px !important;
}

.treemapCell img {
  margin: 2px;
  width: 16px;
  height: 16px;
}

.treemapCell a:link {
  color: #FFFFFF;
  text-decoration: none;
}

.treemapCell a:visited {
  color: #FFFFFF;
  text-decoration: line-through;
  opacity: .25;
  filter: alpha(opacity=25);
}
.treemapCell a:hover {
  color: #FFFFFF;
}

.meta {
  width: 400px;
}

.meta div {
  padding: 2px;
}

.meta .screenshot img {
  width: 120px;
  height: 90px;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  display: none;
  color: #fff;
  background-color: #000;
  border: 1px solid #666;
  padding: 5px;
  font: bold 11px/14px "Trebuchet MS";
}

