#body {
  line-height: 1;
}

#links {
  margin-top: 0;
}

#links a:link, #links a:visited, #links a:hover, #links a:active {
  text-shadow: none !important;
  font-family: Georgia, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
}
.treemapView {
  vertical-align: middle;
}

.treemapCell {
  border-color: #1b1b1b !important;
}

.treemapCell:hover {
  opacity: .85 !important;
  filter: alpha(opacity=85) !important;
}

.treemapCell span {
  font-size: 1px;
  padding: 0 5px;
  display: block;
}

.treemapCell span strong {
  font-size: 1px !important;
}

.treemapCell img {
  margin: 2px;
  width: 16px;
  height: 16px;
}

.treemapCell a:link {
  color: #FFFFFF;
  text-decoration: none;
}

.treemapCell a:visited {
  color: #FFFFFF;
  text-decoration: line-through;
  opacity: .25;
  filter: alpha(opacity=25);
}
.treemapCell a:hover {
  color: #FFFFFF;
}

#meta {
  height: 100px;
  font: bold 11px/14px "Trebuchet MS";
}

#meta div {
  padding: 2px;
}

#meta .screenshot {
  float: left;
}

#meta .screenshot img {
  width: 120px;
  height: 90px;
}

