#links {
  margin-top: -1px;
}

.treemapView {
  vertical-align: middle;
}

.treemapSquare {}

.treemapCell {
  border-color: #222 !important;
}

.treemapCell:hover {
  opacity: .85 !important;
  filter: alpha(opacity=85) !important;
}

.treemapCell span {
  font-size: 1px;
}

.treemapCell span strong {
  font-size: 1px !important;
}

.treemapCell img {
  margin: 2px;
  width: 16px;
  height: 16px;
}

.treemapCell a:link {
  color: #FFFFFF;
  text-decoration: none;
}

.treemapCell a:visited {
  color: #FFFFFF;
  text-decoration: line-through;
  opacity: .25;
  filter: alpha(opacity=25);
}
.treemapCell a:hover {
  color: #FFFFFF;
}

.meta {
  width: 400px;
  font: bold 11px/14px "Trebuchet MS";
}

.meta:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.meta div {
  padding: 1px;
}

.meta .screenshot img {
  width: 120px;
  height: 90px;
  padding: 3px;
  margin: 3px 5px 0 0;
  border: 1px dashed #515151;
  float: left;
}

.tipsy {
  padding: 0px 5px;
  font-size: 12px;
  /* opacity: 0.9;
  filter: alpha(opacity=90); */
  background-repeat: no-repeat;
}

.tipsy-inner {
  border: 1px solid #666;
  padding: 10px;
  background-color: #000000;
  color: white;
  text-align: left;
}

.tipsy-ne { background-image: url(/i/tipsy-east.gif); background-position: right top; }
.tipsy-nw { background-image: url(/i/tipsy-west.gif); background-position: left top; }
.tipsy-se { background-image: url(/i/tipsy-east.gif); background-position: right bottom; }
.tipsy-sw { background-image: url(/i/tipsy-west.gif); background-position: left bottom; }

