html, body {
  height: 100% !important;
  min-height: 100% !important;
  margin-bottom: 1px !important;
}

#body {
  line-height: 1;
}

#links {
  margin-top: 0;
}

#links .treemapView a:link,
#links .treemapView a:visited,
#links .treemapView a:hover,
#links .treemapView a:active {
  text-shadow: none !important;
  font-family: Georgia, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
}

.treemapView {
  vertical-align: middle;
}

.treemapCell {
  border-color: #000000 !important;
}

.treemapCell:hover {
  opacity: .85 !important;
  filter: alpha(opacity=85) !important;
}

.treemapCell span {
  font-size: 1px;
}

.treemapCell span strong {
  font-size: 1px !important;
}

.treemapCell img {
  margin: 2px;
  width: 16px;
  height: 16px;
}

.treemapSquare a:link {
  color: #FFFFFF;
  text-decoration: none;
}

.treemapSquare a:visited {
  color: #FFFFFF;
  text-decoration: line-through;
  opacity: .25;
  filter: alpha(opacity=25);
}

.treemapSquare a:hover {
  color: #FFFFFF;
}

#meta {
  height: 96px;
  position: relative;
  background: #303030;
  padding-top: 4px;
  background: url(/i/shadowBg.png);
  background-repeat: repeat-x;
  background-position: top left;
}

#meta div {
  padding: 0; margin: 0;
}

#meta .title {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  vertical-align: top;
  text-shadow: #000000 1px 1px 2px;
}

#meta .url {
  padding: 5px 0 0 0;
}

#meta a {
  font-family: Helvetica, Arial, sans-serif;
  /* font-weight: bold; */
  color: #FFFFFF;
}

#meta a:hover {
  text-shadow: 0 0 10px rgba(150, 210, 255, 0.8) !important;
}

#meta .screenshot {
  float: left;
  margin: 1px 5px 0 4px;
}

#meta .screenshot img {
  width: 120px;
  height: 90px;
}

#meta .source {
  position: absolute;
  left: 129px;
  bottom: 5px;
}

#meta .score, #meta .velocity {
  margin-top: 5px;
  float: left;
}

#meta .velocity {
  padding-left: 10px;
}

