<link media="all" type="text/css" charset="utf-8" href="/visualize/treemap/treemap.css" rel="Stylesheet" />
<script type="text/javascript" src="/visualize/treemap/treemap.js"></script>
<script type="text/javascript">
//<![CDATA[
  var links = <%= links_for.to_json %>;
//]]>
</script>
<div id="links"></div>
