<div id="navigation">
  <% if session.user -%>
    <div class="user">
      <%= link_to(session.user.username, url(:users, session.user.username), :class => 'username') %>
      &raquo;
    </div>
  <% end -%>
  <ul class="options">
    <% if session.user -%>
      <li><%= link_to('logout', url(:logout, session.user.username)) %></li>
      <li><%= link_to('customize', url(:users, session.user.username, :action => :edit)) %></li>
    <% else -%>
      <li><%= link_to('customize', url(:login)) %></li>
    <% end -%>
    <li><a href="/static/developers">developers</a></li>
    <li><a href="/static/about">about</a></li>
  </ul>
</div>
