<div id="navigation">
  <% if session.user -%>
    <span id="user_name"><%= session.user.name %></span> &raquo;
  <% end -%>
  <ul id="navigation">
    <% if session.user -%>
      <li><%= link_to('preferences', session.user) %></li>
      <li><%= link_to('logout', url(:logout)) %></li>
    <% else -%>
      <li><%= link_to('preferences', url(:openid)) %></li>
    <% end -%>
    <li><a href="http://twitter.com/oursignal">twitter bot</a></li>
    <li><a href="/about/">about</a></li>
    <li><a href="http://oursignal.uservoice.com/">suggestions</a></li>
  </ul>
</div>
