<div id="navigation">
  <% if session.user -%>
    <span id="user_name"><%= session.user[:username] %></span> &raquo;
  <% end -%>
  <ul id="navigation">
    <% if session.user -%>
      <li><%= link_to('logout', url(:logout, session.user[:username])) %></li>
      <li><%= link_to('customize', url(:users, session.user[:username], :action => :edit)) %></li>
    <% else -%>
      <li><%= link_to('customize', url(:openid)) %></li>
    <% end -%>
    <li><a href="#TODO" onclick="javascript:alert('TODO');">directory</a></li>
    <li><a href="#TODO" onclick="javascript:alert('TODO');">developers</a></li>
    <li><a href="#TDOD" onclick="javascript:alert('TODO');">about</a></li>
  </ul>
</div>
