// Compass.
@import 'compass/css3';
@import 'compass/reset';
@import 'compass/utilities/general/clearfix';

html { overflow: hidden; }

body { color: #ccc; background-color: #000; font-family: Helvetica, Arial, sans-serif; font-size: 12px; }
a, a:visited { color: #ddd; text-decoration: none; }

// Layout.
#head {
  height: 30px;
  background-color: #111;
  > * { margin: 8px 20px }
}
  #logo_oursignal { float: left; }
  #navigation {
    float: right;
    ul.options {
      li {
        float: left;
        padding-left: 16px; margin-left: 10px;
      }
      li.customize { background: url(/art/navigation_customize.png) no-repeat; }
      li.about { background: url(/art/navigation_about.png) no-repeat; }
    }
  }

// Content.
#body {}
  ol#timestep {
    width: 100%; height: 100%;
    > li {
      display: block; position: absolute;
      background-color: #1b1b1b; border: 1px solid #000;
    }
  }

  ol#timeline {
    overflow: hidden;
    width: 100%; height: 20px;
    background-color: #ddd;
    ol, li { display: block; float: left; height: 20px; }
    li.day { width: 1728px; }
    li.minute {
      height: 5px; width: 5px;
      border-left: 1px solid #bbb;
    }
    li.minute[data-minute="0"] { height: 10px; }
    li.minute[data-minute="30"] { height: 7px; }

    abbr.datetime {
      display: block;
      margin-top: 10px; margin-left: -4px;
      color: #555; font-size: 10px;
    }
  }

