<div class="container_12">
  <div class="push_2 grid_8">
    <h2 class="developers">Developer Info</h2>
    <p>Want to pipe oursignal feeds somewhere else?  Create your own visualizations?<br />
    Download our master feed in any of these popular formats:</p>
    <ul class="devList">
      <li class="rss">
      <%= link_to(
        'RSS',
        absolute_url(:links, 'oursignal', :format => 'rss'),
        :title => 'RSS Format',
        :id    => 'developer_rss'
      ) %>
      </li>
      <li class="xml">
      <%= link_to(
        'XML',
        absolute_url(:links, 'oursignal', :format => 'xml'),
        :title => 'XML Format',
        :id    => 'developer_xml'
      ) %>
      </li>
      <li class="json">
      <%= link_to(
        'JSON',
        absolute_url(:links, 'oursignal', :format => 'json'),
        :title => 'JSON Format',
        :id    => 'developer_json'
      ) %>
      </li>
    </ul>
  </div>
</div><!-- container_12 -->

