<ul>
  <li>RSS: <%= link_to absolute_url(:users, user.username, :format => 'rss'), absolute_url(:users, user.username, :format => 'rss') %></li>
  <li>XML: <%= link_to absolute_url(:users, user.username, :format => 'xml'), absolute_url(:users, user.username, :format => 'xml') %></li>
  <li>JSON: <%= link_to absolute_url(:users, user.username, :format => 'json'), absolute_url(:users, user.username, :format => 'json') %></li>
</ul>

