%header
  %h1
    %a{href: @url, target: '_blank'}= @title

%div.screenshot
  %img{src: "screenshots/#{@id}.png", title: @title, width: '336', height: '216'}

%aside
  %h2
    %a{href: "http://#{@domain}", target: '_blank'}= @domain

  %abbr.retrieved_at{title: @retrieved_at}<
    %time{datetime: @retrieved_at}<= @retrieved_at

  %table.sources
    %caption Sources
    %tbody
      - for domain, url of @sources
        %tr
          %td
            %a{href: url, target: '_blank'}= domain

  %table.scores
    %caption Scores
    %tbody
      - for site, score of @scores
        %tr
          %td.site<= site
          %td.score<= parseInt(score)
